<div class="booking">
    <div class="booking_con">
        <div class="booking_con_top">
            <div class="opacity_booking"></div>

            <div class="pitxHubImg">
                <img src="~/img/pitxHub.png" alt="pitxHub">
            </div>
        </div>

        <div class="booking_modal_con">
            <div class="booking_modal_con_top">
                <h3>Your Trip Starts Here</h3>
                <div class="redLine"></div>
            </div>

            <div class="booking_modal_main">
                <div class="booking_modal_main_top">
                    <h3><span>Provincial</span> Bus Trip</h3>
                    <h4>Paranaque PITX to Legazpi, Bicol</h4>
                </div>

                <div class="departureDestination_con">
                    <div class="departureDestinationInput">
                        <div class="departureDestination_top">
                            <p>Departure</p>
                            <p>Destination</p>
                        </div>

                        <div class="departureDestination">
                            <h4>Paranaque PITX</h4>
                            <div class="departureDestinationArrow">
                                <img src="~/icons/departureDestinationArrow.svg" alt="departureDestinationArrow">
                            </div>
                            <h4>Legazpi</h4>
                        </div>
                    </div>

                    <div class="checkTripBtn_con">
                        <button>Check Trips</button>
                    </div>
                </div>

                <div class="booking_modal_date">
                    <h4>Date</h4>
                    <div class="booking_modal_date_con">
                        <p class="today">Today</p>
                        <p class="tomorrow">Tomorrow</p>
                        <div class="date_con">
                            <p>Mon, Nov</p>
                            <p>3</p>
                        </div>

                        <div class="date_con">
                            <p>Tues, Nov</p>
                            <p>4</p>
                        </div>

                        <div class="date_con">
                            <p>Wed, Nov</p>
                            <p>5</p>
                        </div>

                        <div class="date_con">
                            <p>Thurs, Nov</p>
                            <p>6</p>
                        </div>

                        <div class="date_con">
                            <p>Fri, Nov</p>
                            <p>7</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="booking_bus_list_con">
        <ul>
            <li>
                <div class="booking_bus_list">
                    <div class="booking_info_con">
                        <div class="booking_info">
                            <div class="booking_info_departure">
                                <p class="time">20:30</p>
                                <p>Paranaque Integrated Terminal Exchange</p>
                            </div>

                            <div class="booking_info_bus_info">
                                <div class="booking_info_bus_logo">
                                    <img src="~/img/bus/dltbco/dltbLogo.png" alt="dltbLogo">
                                </div>

                                <div class="booking_info_bus_icon">
                                    <img src="~/icons/bus.svg" alt="bus">
                                </div>

                                <div class="trip_info">
                                    <p>10h 1m | DLTBCo | Bus | <span>LazyBoy</span></p>
                                </div>
                            </div>

                            <div class="booking_info_destination">
                                <p class="time">06:30</p>
                                <p>Legazpi, Grand Central Terminal</p>
                            </div>
                        </div>

                        <div class="bus_pic_con">
                            <div class="busPic">
                                <img src="~/img/bus/dltbco/insideBus.png" alt="insideBus">
                            </div>

                            <div class="busPic">
                                <img src="~/img/bus/dltbco/bus.png" alt="bus">
                            </div>
                        </div>
                    </div>

                    <div class="redLine"></div>

                    <div class="booking_price_con">
                        <div class="booking_price_con_info"> 
                            <p class="price">₱1,825</p>
                            <p>Taxes Included | per adult</p>
                        </div>
                        
                        <div class="bus_trip_book_btn_con">
                            <button>Book Now!</button>
                        </div>
                    </div>  
                </div>
            </li>

            <li>
                <div class="booking_bus_list">
                    <div class="booking_info_con">
                        <div class="booking_info">
                            <div class="booking_info_departure">
                                <p class="time">20:30</p>
                                <p>Paranaque Integrated Terminal Exchange</p>
                            </div>

                            <div class="booking_info_bus_info">
                                <div class="booking_info_bus_logo">
                                    <img src="~/img/bus/dltbco/dltbLogo.png" alt="dltbLogo">
                                </div>

                                <div class="booking_info_bus_icon">
                                    <img src="~/icons/bus.svg" alt="bus">
                                </div>

                                <div class="trip_info">
                                    <p>10h 1m | DLTBCo | Bus | <span>LazyBoy</span></p>
                                </div>
                            </div>

                            <div class="booking_info_destination">
                                <p class="time">06:30</p>
                                <p>Legazpi, Grand Central Terminal</p>
                            </div>
                        </div>

                        <div class="bus_pic_con">
                            <div class="busPic">
                                <img src="~/img/bus/dltbco/insideBus.png" alt="insideBus">
                            </div>

                            <div class="busPic">
                                <img src="~/img/bus/dltbco/bus.png" alt="bus">
                            </div>
                        </div>
                    </div>

                    <div class="redLine"></div>

                    <div class="booking_price_con">
                        <div class="booking_price_con_info"> 
                            <p class="price">₱1,825</p>
                            <p>Taxes Included | per adult</p>
                        </div>
                        
                        <div class="bus_trip_book_btn_con">
                            <button>Book Now!</button>
                        </div>
                    </div>  
                </div>
            </li>

            <li>
                <div class="booking_bus_list">
                    <div class="booking_info_con">
                        <div class="booking_info">
                            <div class="booking_info_departure">
                                <p class="time">20:30</p>
                                <p>Paranaque Integrated Terminal Exchange</p>
                            </div>

                            <div class="booking_info_bus_info">
                                <div class="booking_info_bus_logo">
                                    <img src="~/img/bus/dltbco/dltbLogo.png" alt="dltbLogo">
                                </div>

                                <div class="booking_info_bus_icon">
                                    <img src="~/icons/bus.svg" alt="bus">
                                </div>

                                <div class="trip_info">
                                    <p>10h 1m | DLTBCo | Bus | <span>LazyBoy</span></p>
                                </div>
                            </div>

                            <div class="booking_info_destination">
                                <p class="time">06:30</p>
                                <p>Legazpi, Grand Central Terminal</p>
                            </div>
                        </div>

                        <div class="bus_pic_con">
                            <div class="busPic">
                                <img src="~/img/bus/dltbco/insideBus.png" alt="insideBus">
                            </div>

                            <div class="busPic">
                                <img src="~/img/bus/dltbco/bus.png" alt="bus">
                            </div>
                        </div>
                    </div>

                    <div class="redLine"></div>

                    <div class="booking_price_con">
                        <div class="booking_price_con_info"> 
                            <p class="price">₱1,825</p>
                            <p>Taxes Included | per adult</p>
                        </div>
                        
                        <div class="bus_trip_book_btn_con">
                            <button>Book Now!</button>
                        </div>
                    </div>  
                </div>
            </li>

            <li>
                <div class="booking_bus_list">
                    <div class="booking_info_con">
                        <div class="booking_info">
                            <div class="booking_info_departure">
                                <p class="time">20:30</p>
                                <p>Paranaque Integrated Terminal Exchange</p>
                            </div>

                            <div class="booking_info_bus_info">
                                <div class="booking_info_bus_logo">
                                    <img src="~/img/bus/dltbco/dltbLogo.png" alt="dltbLogo">
                                </div>

                                <div class="booking_info_bus_icon">
                                    <img src="~/icons/bus.svg" alt="bus">
                                </div>

                                <div class="trip_info">
                                    <p>10h 1m | DLTBCo | Bus | <span>LazyBoy</span></p>
                                </div>
                            </div>

                            <div class="booking_info_destination">
                                <p class="time">06:30</p>
                                <p>Legazpi, Grand Central Terminal</p>
                            </div>
                        </div>

                        <div class="bus_pic_con">
                            <div class="busPic">
                                <img src="~/img/bus/dltbco/insideBus.png" alt="insideBus">
                            </div>

                            <div class="busPic">
                                <img src="~/img/bus/dltbco/bus.png" alt="bus">
                            </div>
                        </div>
                    </div>

                    <div class="redLine"></div>

                    <div class="booking_price_con">
                        <div class="booking_price_con_info"> 
                            <p class="price">₱1,825</p>
                            <p>Taxes Included | per adult</p>
                        </div>
                        
                        <div class="bus_trip_book_btn_con">
                            <button>Book Now!</button>
                        </div>
                    </div>  
                </div>
            </li>

            <li>
                <div class="booking_bus_list">
                    <div class="booking_info_con">
                        <div class="booking_info">
                            <div class="booking_info_departure">
                                <p class="time">20:30</p>
                                <p>Paranaque Integrated Terminal Exchange</p>
                            </div>

                            <div class="booking_info_bus_info">
                                <div class="booking_info_bus_logo">
                                    <img src="~/img/bus/dltbco/dltbLogo.png" alt="dltbLogo">
                                </div>

                                <div class="booking_info_bus_icon">
                                    <img src="~/icons/bus.svg" alt="bus">
                                </div>

                                <div class="trip_info">
                                    <p>10h 1m | DLTBCo | Bus | <span>LazyBoy</span></p>
                                </div>
                            </div>

                            <div class="booking_info_destination">
                                <p class="time">06:30</p>
                                <p>Legazpi, Grand Central Terminal</p>
                            </div>
                        </div>

                        <div class="bus_pic_con">
                            <div class="busPic">
                                <img src="~/img/bus/dltbco/insideBus.png" alt="insideBus">
                            </div>

                            <div class="busPic">
                                <img src="~/img/bus/dltbco/bus.png" alt="bus">
                            </div>
                        </div>
                    </div>

                    <div class="redLine"></div>

                    <div class="booking_price_con">
                        <div class="booking_price_con_info"> 
                            <p class="price">₱1,825</p>
                            <p>Taxes Included | per adult</p>
                        </div>
                        
                        <div class="bus_trip_book_btn_con">
                            <button>Book Now!</button>
                        </div>
                    </div>  
                </div>
            </li>

            <li>
                <div class="booking_bus_list">
                    <div class="booking_info_con">
                        <div class="booking_info">
                            <div class="booking_info_departure">
                                <p class="time">20:30</p>
                                <p>Paranaque Integrated Terminal Exchange</p>
                            </div>

                            <div class="booking_info_bus_info">
                                <div class="booking_info_bus_logo">
                                    <img src="~/img/bus/dltbco/dltbLogo.png" alt="dltbLogo">
                                </div>

                                <div class="booking_info_bus_icon">
                                    <img src="~/icons/bus.svg" alt="bus">
                                </div>

                                <div class="trip_info">
                                    <p>10h 1m | DLTBCo | Bus | <span>LazyBoy</span></p>
                                </div>
                            </div>

                            <div class="booking_info_destination">
                                <p class="time">06:30</p>
                                <p>Legazpi, Grand Central Terminal</p>
                            </div>
                        </div>

                        <div class="bus_pic_con">
                            <div class="busPic">
                                <img src="~/img/bus/dltbco/insideBus.png" alt="insideBus">
                            </div>

                            <div class="busPic">
                                <img src="~/img/bus/dltbco/bus.png" alt="bus">
                            </div>
                        </div>
                    </div>

                    <div class="redLine"></div>

                    <div class="booking_price_con">
                        <div class="booking_price_con_info"> 
                            <p class="price">₱1,825</p>
                            <p>Taxes Included | per adult</p>
                        </div>
                        
                        <div class="bus_trip_book_btn_con">
                            <button>Book Now!</button>
                        </div>
                    </div>  
                </div>
            </li>
        </ul>
    </div>
</div>