@{
    ViewData["Title"] = "Main";
}

<!-- HERO SECTION -->
<section>
    <div class="hero_sec">
        <div class="hero_introductory">
            <h1>Seamless interconnectivity. Friendly service. First-world facility</h1>

            <div class="hero_intro_bot">
                <p>With our first-world facilities and friendly services, you can now enjoy seamless interconnectivity from the moment you arrive, until you reach your destination.</p>

                <div class="btn_con">
                    <button type="button" onclick="location.href=`@Url.Action("Booking", "Home")`">
                        Book Now!
                    </button>
                </div>
            </div>
        </div>

        
        <div class="opacity_hero">
        </div>

        <div class="video_bg_con">
            <video autoplay muted loop playsinline preload="auto" id="bg_video">
                <source src="@Url.Content("~/video/cut1.mp4")" type="video/mp4">
            </video>
        </div>
    </div>
</section>

<section>
    <!-- LIVE BUS SCHEDULE -->
    <div class="live_bus_sched_sec">
        <div class="live_bus_sched_con">
            <div class="live_bus_sched_con_top">
                <h1>Live Bus Schedule</h1>
                <p>Stay updated with the real-time arrival and departure of buses in the terminal</p>
            </div>

            <div class="live_bus_schedule">
                <div class="live_bus_schedule_top">
                    <div class="live_bus_schedule_top_left">
                        <div class="bus_icon_live_bus_sched_con">
                            <div class="bus_icon_live_bus_sched">
                                <img src="~/icons/bus.svg" alt="bus">
                            </div>
                        </div>
                        <h1>Provincial Bus Trip</h1>
                    </div>

                    <div class="live_bus_schedule_top_right">
                        <div class="live_bus_schedule_date_con">
                            <div class="month_day">
                                <h1>2</h1>
                                <h1>Oct</h1>
                            </div>
                            <h1>19:30</h1>
                        </div>
                    </div>
                </div>

                <div class="live_bus_schedule_">
                    <!-- 
                        <table>
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Destination</th>
                                    <th>Operator</th>
                                    <th>Gate</th>
                                    <th>Bay</th>
                                    <th>Trip</th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>12:00</td>
                                    <td>LEGAZPI</td>
                                    <td>DLTBCO</td>
                                    <td>G07</td>
                                    <td>D23</td>
                                    <td>EAMD039</td>
                                    <td class="status">BOARDING</td>
                                </tr>

                                <tr>
                                    <td>12:00</td>
                                    <td>LEGAZPI</td>
                                    <td>DLTBCO</td>
                                    <td>G07</td>
                                    <td>D23</td>
                                    <td>EAMD039</td>
                                    <td class="status">ARRIVING</td>
                                </tr>

                                <tr>
                                    <td>12:00</td>
                                    <td>LEGAZPI</td>
                                    <td>DLTBCO</td>
                                    <td>G07</td>
                                    <td>D23</td>
                                    <td>EAMD039</td>
                                    <td class="status">CANCELLED</td>
                                </tr>

                            </tbody>
                        </table>
                    -->

                    <div class="table">
                        <div class="tbody">
                            <div class="tc">
                                <div class="th">Time</div>
                                <div class="td">12:00</div>
                                <div class="td">01:00</div>
                            </div>

                            <div class="tc">
                                <div class="th">Destination</div>
                                <div class="td">LEGAZPI</div>
                                <div class="td">SAN JOSE NUEVA ECIJA</div>
                            </div>

                            <div class="tc">
                                <div class="th">Operator</div>
                                <div class="td">DLTBCO</div>
                                <div class="td">SOLID NORTH</div>
                            </div>

                            <div class="tc">
                                <div class="th">Gate</div>
                                <div class="td">G07</div>
                                <div class="td">G08</div>
                            </div>

                            <div class="tc">
                                <div class="th">Bay</div>
                                <div class="td">D23</div>
                                <div class="td">D24</div>
                            </div>

                            <div class="tc">
                                <div class="th">Trip</div>
                                <div class="td">EAMD039</div>
                                <div class="td">EAMD039</div>
                            </div>

                            <div class="tc">
                                <div class="th">Status</div>
                                <div class="td status boarding">BOARDING</div>
                                <div class="td status cancelled">CANCELLED</div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>  

</section>
