@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root {
  --black: #000000;
  --black-sub-heading: #1E1E1E;
  --white: #FFFFFF;
  --white-background: #F4F4F4;
  --grey-border: #808080;
  --main-color-red: #EE3124;
  --main-color-blue: #315EC3;
  --light-blue: #007CFF;
  --green: #02B464;
  --footer-grey: #414042;

  --regular: 500;
  --semibold: 600;
  --bold: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
