@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root {
  --black: #000000;
  --black-sub-heading: #1E1E1E;
  --white: #FFFFFF;
  --white-background: #F4F4F4;
  --grey-border: #808080;
  --grey: #808080;
  --main-color-red: #EE3124;
  --main-color-blue: #315EC3;
  --light-blue: #007CFF;
  --green: #02B464;
  --footer-grey: #414042;

  --lightweight: 350;
  --regular: 400;
  --semibold: 600;
  --bold: 700;

  --radius: 5px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  --border: 1px solid var(--grey-border);

  --text-space: 1.5px;

  --modal-width: 573px;
  --modal-height: 735px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: var(--radius);
  font-weight: var(--semibold);
  font-family: "Open Sans", sans-serif;
  font-size: 0.95rem;
  color: white;
}

ul {
  list-style: none;
}


input {
  border-radius: var(--radius);
  padding: 8px 10px;
  border: var(--border);
  font-size: 1rem;
  font-weight: var(--semibold);
  width: 100%;
}

/* HOME MAIN ***********************************************************************************************************************/
/* NAVBAR */
header {
  width: 100vw;
}

nav {
  padding: 20px;
}

.pitxLogo_con {
  width: fit-content;
  padding: 15px 35px 15px 0px;
  border-right: 1px solid var(--main-color-red);
}

.pitxLogo {
  width: 350px;
}


/* MAIN */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

section {
  height: 100vh;
  width: 100%;
}

/* HERO SECTION */
.hero_sec {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#bg_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.opacity_hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.65;
}

.hero_introductory {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: var(--white);
  width: 100%;
  position: relative;
  z-index: 3;
  top: 40%;
  padding: 0px 40px;
}

.hero_introductory h1 {
  text-align: center;
}

.hero_introductory p {
  font-weight: var(--lightweight);
  font-size: 1rem;
  text-align: center;
}

.hero_intro_bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.btn_con button {
  background: var(--main-color-red);
  padding: 8px 19px;
  color: var(--white);
}

/* LIVE BUS SCHEDULE */
.live_bus_sched_sec {
  height: 100vh;
  padding: 40px;
}

.live_bus_sched_con {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.live_bus_sched_con_top {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.live_bus_sched_con_top h1 {
  font-size: 1.8rem;
}

.live_bus_schedule {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  gap: 10px;
}

.live_bus_schedule_top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.live_bus_schedule_top h1 {
  font-size: 1.5rem;
}

.live_bus_schedule_top_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.live_bus_schedule_top_left h1 {
  color: var(--main-color-red);
}

.bus_icon_live_bus_sched_con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.bus_icon_live_bus_sched {
  width: 45px;
}

.bus_icon_live_bus_sched img {
  border-radius: var(--radius);
}

.live_bus_schedule_top_right {
  display: flex;
  align-items: center;
}

.live_bus_schedule_date_con {
  display: flex;
  gap: 10px;
  padding: 0px 10px;
  border-bottom: 1px solid var(--main-color-red);
}

.month_day {
  display: flex;
  gap: 5px;
}

.live_bus_schedule table {
  width: 100%;
  border-spacing: 10px;
}

.live_bus_schedule th {
  border-bottom: 1px solid var(--main-color-red);
  padding: 0px 25px;
  font-weight: var(--semibold);
  font-size: 1.2rem;
}

.live_bus_schedule tr {
  border-bottom: 1px solid green;
}

.live_bus_schedule td {
  font-weight: var(--bold);
  text-align: center;
  font-size: 1.2rem;
  border: none;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.th {
  padding: 0px 20px;
  border-bottom: 1px solid var(--main-color-red);
  font-weight: var(--semibold);
  text-align: center;
}

.tbody {
  display: flex;
  gap: 25px;
}

.tc {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.td {
  text-align: center;
  font-weight: var(--bold);
}

.status {
  text-align: start !important;
  color: #007CFF;
}

.boarding {
  color: var(--light-blue);
}

.cancelled {
  color: var(--main-color-red);
}

/* BOOKING ***********************************************************************************************************************/
.booking {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.booking_con {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45vh;
}

.booking_con_top {
  position: relative;
  width: 100vw;
  height: 100%;
}

.opacity_booking {
  position: absolute;
  background: var(--main-color-blue);
  width: 100%;
  height: 100%;
  opacity: 0.25;
  z-index: 2;
}

.pitxHubImg img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}


/* MODAL */
.booking_modal_con {
  background: white;
  position: absolute;
  top: 35%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0px 10px;
  width: fit-content;
  align-self: center;
  gap: 10px;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.booking_modal_con_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2px;
}

.redLine {
  border-bottom: 1px solid var(--main-color-red);
  margin: 0px 220px;
}

.booking_modal_main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.booking_modal_main_top {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.booking_modal_main_top h3 {
  color: var(--main-color-red);
}

.booking_modal_main_top span {
  color: var(--main-color-blue);
}

.departureDestination_con {
  display: flex;
  gap: 10px;
}

.departureDestinationInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.departureDestination_top {
  display: flex;
  gap: 45px;
}

.departureDestination_top p {
  flex: 1;
  padding-left: 10px;
}

.departureDestination {
  display: flex;
  padding: 0px 10px;
  border: var(--border);
  border-radius: var(--radius);
  align-items: center;
  justify-content: center;
}

.departureDestination h4 {
  flex: 1;
  text-align: center;
}

.departureDestinationArrow {
  display: flex;
  align-items: center;
}

.checkTripBtn_con {
  display: flex;
  align-items: end;
  padding-bottom: 5px;
  width: 135px;
}

.checkTripBtn_con button {
  background: var(--main-color-blue);
  padding: 5px 10px;
  color: var(--white);
}


.booking_modal_date {
  display: flex;
  flex-direction: column;
}

.booking_modal_date_con {
  display: flex;
  gap: 15px;
  align-items: center;
  border: var(--border);
  border-radius: 10px;
  padding: 5px 15px;
}

.date_con {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: var(--semibold);
  font-size: 0.9rem;
}

.today {
  color: var(--main-color-blue);
  font-weight: var(--semibold);
}

.tomorrow {
  color: var(--main-color-red);
  font-weight: var(--semibold);
}


/* BUS LIST */
.booking_bus_list_con {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 100px;
  justify-content: center;
  background: var(--white-background);
}

.booking_bus_list_con ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.booking_bus_list {
  display: flex;
  padding: 15px;
  background: var(--white);
  border-radius: var(--radius);
  gap: 20px;
}

.booking_bus_list .redLine {
  margin: 0;
  border-right: 1px solid var(--main-color-red);
}

.booking_info_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.booking_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.booking_info_departure {
  display: flex;
  gap: 10px;
}

.booking_info_bus_info {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 0.95rem;
}

.booking_info_bus_logo {
  width: 30px;
}

.booking_info_bus_icon {
  width: 30px;
}

.booking_info_bus_icon img {
  border-radius: var(--radius);
}

.trip_info span {
  font-weight: var(--semibold);
}

.time {
  font-weight: var(--semibold);
}

.booking_info_destination {
  display: flex;
  gap: 10px;
}

.bus_pic_con {
  display: flex;
  gap: 5px;
}

.busPic {
  width: 115px;
}

.busPic img {
  border-radius: var(--radius);
}

.booking_price_con {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 190px;
  justify-content: center;
}

.booking_price_con_info {
  font-size: 0.75rem;
}

.price {
  font-weight: var(--semibold);
  font-size: 1rem;
  text-align: end;
}

.bus_trip_book_btn_con {
  display: flex;
  justify-content: center;
}

.bus_trip_book_btn_con button {
  background: var(--main-color-red);
  padding: 3px 10px;
}


/*  BOOKING ***********************************************************************************************************************/
.booking_main {
  background-image: url('/img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking_proc {
  padding: 0px 20px;
}

.booking_proc_modal_con {
  background: var(--white);
  border-radius: var(--radius);
  height: var(--modal-height);
  max-width: var(--modal-width);
  display: flex;
  flex-direction: column;
}

.booking_top {
  border-bottom: 1px solid var(--main-color-red);
  padding: 10px 20px; 
  display: flex;
  gap: 15px;
}

.booking_top .redLine {
  border-right: 1px solid var(--main-color-red);
  margin: 0;
}

.booking_top p {
  font-weight: var(--semibold);
  font-size: 1.3rem;
  padding: 5px;
}

.booking_top span {
  font-size: 1.2rem;
}

.booking_main_con {
  padding: 20px;
  overflow-y: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

/* ITINERARY*/
.itinerary {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.how_many_pass_con {
  display: flex;
  flex-direction: column;
}

.how_many_pass_con p {
  font-weight: var(--semibold);
  font-size: 0.9rem;
}

.passenger_input {
  display: flex;
  align-items: center;
  gap: 15px;
  border: var(--border);
  padding: 5px 10px;
  border-radius: var(--radius);
}

.pass_icon {
  display: flex;
  align-items: center;
  width: 15px;
}

.passenger_input p {
  font-weight: var(--regular);
  font-size: 0.95rem;
}

.itinerary_trip_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 5px 15px;
  border-bottom: 1px solid var(--main-color-red);
}

.itinerary_trip_info_top {
  display: flex;
  flex-direction: column;
}

.itinerary_trip_info p {
  font-weight: var(--semibold);
  font-size: 0.95rem;
}

.itinerary_trip_info_date {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  gap: 5px;
}

.itinerary_trip_info_date p {
  font-size: 0.9rem;
}

.itinerary_trip_departure {
  display: flex;
  gap: 10px;
}

.itinerary_trip_time {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.itinerary_trip_time p {
  font-weight: var(--regular);
  font-size: 0.9em;
}

.itinerary_bus_icon {
  width: 30px;
  display: flex;
  align-items: center;
}

.itinerary_bus_icon img {
  border-radius: var(--radius);
}

.itinerary_trip_destination {
  display: flex;
  gap: 10px;
}

.itinerary_bus_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* CHANGE THIS MAKE GAP AND PADDING CHANGE IN MEDIA QUERY */

.itinerary_bus_img_con {
  display: flex;
  gap: 100px;
  padding: 0px 50px;
}

.bus_logo_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.itinerary_bus_logo {
  width: 45px;
}

.bus_logo_con p {
  font-weight: bold;
  font-size: 0.95rem;
}

.itinerary_bus_pic_con {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.itinerary_bus_pic_con .busPic {
  width: 135px;
}

.itinerary_bus_provides_con {
  display: flex;
  flex-direction: column;
  padding: 0px 5px 10px;
  border-bottom: 1px solid var(--main-color-red);
  gap: 2px;
}

.itinerary_bus_provides_con p {
  font-weight: var(--semibold);
  font-size: 0.95rem;
}

.bus_provides_con {
  display: flex;
  align-items: start;
  gap: 15px;
  padding-left: 10px;
}

.bus_provides_con div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bus_provides_con p {
  font-size: 0.75rem;
}

.aircon_icon {
  width: 23px;
}

.tv_icon {
  width: 23px;
}

.restroom_icon {
  width: 23px;
}

.itinerary_important_rem_con {
  display: flex;
  flex-direction: column;
}

.itinerary_important_rem_con p {
  font-size: 0.9rem;
}

.itinerary_important_rem_con span {
  font-weight: var(--semibold);
}

.important_rem_con {
  padding-left: 15px;
}


.booking_bot {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 20px;
  padding: 10px 20px;
  border-top:  1px solid var(--main-color-red);
}

.total_con {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.total_con div {
  display: flex;
  justify-content: space-between;
}

.total_con p {
  font-weight: var(--semibold);
}

.total span {
  font-size: 0.95rem;
}

.subtotal {
  display: flex;
  flex-direction: column;
}

.subtotal p {
  font-size: 0.9rem;
  font-weight: var(--regular);
}

.subtotal div {
  display: flex;
  justify-content: space-between;
}

.booking_btn_con {
  display: flex;
  justify-content: center;
  padding: 0px 130px;
}

.booking_btn_con button {
  background: var(--main-color-blue);
  font-size: 1.05rem;
  width: 100%;
  padding: 5px 0px;
}

/* PASSENGERS */
.passengers {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 10px;
}

.booking_summary_con {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid var(--main-color-red);
  padding-bottom: 10px;
}

.booking_timer_con p {
  text-align: start;
  font-weight: var(--semibold);
  font-size: 0.95rem;
}

.booking_timer_con span {
  color: var(--main-color-red);
}

.trip_summary_con {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.trip_summary_con p {
  font-weight: var(--bold);
}

.trip_summary_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px 10px;
}

.trip_summary_departure {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.trip_summary_departure p {
  font-weight: var(--semibold);
}

.trip_summary_departure_info {
  padding-left: 10px;
}

.trip_summary_departure_info p {
  color: var(--grey);
  font-size: 0.95rem;
  font-weight: var(--regular);
}

.trip_summary_departure_info span {
  font-weight: var(--semibold);
  color: var(--black);
}

.passenger_detail_con {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid var(--main-color-blue);
  padding-bottom: 10px;
}

.passenger_contact_con {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid var(--main-color-blue);
  padding-bottom: 10px;
}

.passenger_contact_con p {
  font-weight: var(--bold);
}

.passenger_contact_input {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.passenger_contact_input p {
  font-weight: var(--regular);
  font-size: 0.95rem;
}

.passenger_mobile_input {
  display: flex;
  flex-direction: column;
}

.passenger_mobile_input input {
  border: none;
  padding: 0px 0px 0px 35px;
}

.mobile_input {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border: var(--border);
  border-radius: var(--radius);
  position: relative;
}

.mobile_input label {
  height: fit-content;
  color: var(--grey);
  font-weight: var(--semibold);
  position: absolute;
}

.passenger_email_input {
  display: flex;
  flex-direction: column;
}

.passenger_info_con {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.passenger_info_con p {
  font-weight: bold;
}

.main_passenger_con {
  border-bottom: 1px solid var(--main-color-blue);
  padding-bottom: 10px;
}

.extra_passenger_con {
  display: flex;
  flex-direction: column;
}

.dateInput {
  width: fit-content;
}

.passenger_info_input_con {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 3px;
}

.passenger_info_input_con p {
  font-weight: var(--regular);
  font-size: 0.95rem;
}

.passenger_info_input {
  display: flex;
  flex-direction: column; 
}

.remove_passenger_con {
  display: flex;
  justify-content: start;
  gap: 3px;
}

.remove_passenger_con p {
  color: var(--grey);
  font-weight: var(--regular);
  font-size: 0.9rem;
  text-decoration: underline;
}

.trash_icon {
  display: flex;
  align-items: center;
  width: 15px;
}

.trash_icon img {
  fill: var(--grey);
}

.add_passenger_con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_passenger {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.add_passenger p {
  font-weight: var(--semibold);
}

.add_icon {
  display: flex;
  align-items: center;
  width: 20px;
}

.travel_insurance_con {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 20px;
}

.travel_insurance_con p {
  font-weight: var(--bold);
}

.insurance_bus_img_con {
  width: 100%;
  display: flex;
  justify-content: center;
}

.insurance_bus_img {
  display: flex;
  align-self: center;
  width: 160px;
}

.travel_insurance_info_con {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.travel_insurance_info_con span {
  font-weight: var(--semibold);
}

.travel_insurance_input_con {
  display: flex;
  flex-direction: column;
}

.travel_insurance_input_con p {
  font-weight: var(--regular);
  font-size: 0.95rem;
}

.motto_insurance {
  color: var(--light-blue);
  font-size: 0.9rem;
}

.insurance_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius);
  padding: 6px 10px;
  border: var(--border);
  position: relative;
}

.insurance_input_label p {
  font-size: 1rem;
}

.dropdownArrow {
  display: flex;
  align-items: center;
  width: 20px;
}

.insurance_package_details_cons {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.insurance_package_details_cons p {
  font-weight: var(--regular);
}

.duration {
  font-weight: var(--regular) !important;
  font-size: 0.95rem;
}


/* FOOTER ***********************************************************************************************************************/
footer {
  width: 100vw;
  background: var(--footer-grey);
  margin-top: auto;
  color: white;
}

.footer_con {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
}

.pitxLogo_footer {
  width: 200px;
  align-self: center;
}

.footer_para_con {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.footer_para_con p {
  font-size: 0.9rem;
  font-weight: var(--regular);
}