@{
    ViewData["Title"] = "Itinerary";
}

<div class="itinerary">
    <div class="how_many_pass_con">
        <p>How many passenger</p>
        <div class="passenger_input">
            <div class="pass_icon">
                <img src="~/icons/user.svg" alt="user">
            </div>
            <p>1 Passenger</p>
        </div>
    </div>

    <div class="itinerary_trip_info">
        <div class="itinerary_trip_info_top">
            <p>Mon, Nov 3</p>
            <div class="itinerary_trip_info_date">
                <div class="itinerary_trip_departure">
                    <p>20:30</p>
                    <p>Paranaque Integrated Terminal Exchange</p>
                </div>

                <div class="itinerary_trip_time">
                    <div class="itinerary_bus_icon">
                        <img src="~/icons/bus.svg" alt="busIcon">
                    </div>
                    <p>10h 1m Bus ride with DLTBCo in LazyBoy</p>
                </div>

                <div class="itinerary_trip_destination">
                    <p>06:30</p>
                    <p>Legazpi, Grand Central Terminal</p>
                </div>
            </div>
        </div>
        <p class="itinerary_arrival_time">Arrives on Tue, Nov 4. Travel Time 10h 1m</p>
    </div>

    <div class="itinerary_bus_info">
        <div class="itinerary_bus_img_con">
            <div class="bus_logo_con">
                <div class="itinerary_bus_logo">
                    <img src="~/img/bus/dltbco/dltbLogo.png" alt="dltbLogo">
                </div> 
                <p>DLTBCo</p>
            </div>

            <div class="itinerary_bus_pic_con">    
                <div class="busPic">
                    <img src="~/img/bus/dltbco/insideBus.png" alt="insideBus">
                </div>

                <div class="busPic">
                    <img src="~/img/bus/dltbco/bus.png" alt="bus">
                </div>
            </div>
        </div>

        <div class="itinerary_bus_provides_con">
            <p>Provides</p>
            <div class="bus_provides_con">
                <div>
                    <div class="aircon_icon">
                        <img src="~/icons/airConditioning.svg" alt="airConditioning">
                    </div>
                    <p>Airconditioning</p>
                </div>

                <div>
                    <div class="tv_icon">
                        <img src="~/icons/tv.svg" alt="tv">
                    </div>
                    <p>Television</p>
                </div>

                <div>
                    <div class="restroom_icon">
                        <img src="~/icons/restroom.svg" alt="restroom">
                    </div>
                    <p>Restroom</p>
                </div>
            </div>
        </div>
    </div>

    <div class="itinerary_important_rem_con">
        <p><span>Important Reminders:</span></p>
        <div class="important_rem_con">
            <p>No Refund, No Cancellation</p>
            <p>Arrive at least 30 minutes, before your scheduled time</p>
        </div>
    </div>
</div>

<script>
    console.log("this is itinerary page");

    const bookingMainCon = document.querySelector(".booking_main_con");
    bookingMainCon.classList.toggle('inactive');
</script>